# This file contains common pin mappings for the BigTreeTech Octopus
# (non-Pro) boards.

# Important! Do not use this config with an Octopus Pro v1.1 board as
# doing so could result in a heater being inadvertently enabled.

# To use this config, start by identifying the micro-controller on the
# board - it may be an STM32F446, or STM32F429.  Select the
# appropriate micro-controller in "make menuconfig" and select "Enable
# low-level configuration options". For STM32F446 boards the firmware
# should be compiled with a "32KiB bootloader" and a "12MHz crystal"
# clock reference. For STM32F429 boards use a "32KiB bootloader" and
# an "8MHz crystal".

# See docs/Config_Reference.md for a description of parameters.

[include adxl.cfg]
[include shell_command.cfg]
[include mainsail.cfg]
[include macros.cfg]
[include stealthburner_leds.cfg]
[include K-ShakeTune/*.cfg]
[include KAMP_Settings.cfg]

# Driver0 - Stepper A
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
full_steps_per_rotation: 400
microsteps: 16
rotation_distance: 40
endstop_pin: !BTT_EBB36: PB6
position_endstop: 304
position_max: 304
position_min: -10
homing_speed: 80

# Driver1 - Stepper B
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
full_steps_per_rotation: 400
microsteps: 16
rotation_distance: 40
endstop_pin: PG6
position_endstop: 282
position_max: 282
position_min: 0
homing_speed: 80

# Driver2 - Stepper Z1
[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -10
position_max: 251

# Driver on SB2209
[extruder]
step_pin: BTT_EBB36: PD0
dir_pin: !BTT_EBB36: PD1
enable_pin: !BTT_EBB36: PD2
microsteps: 16
rotation_distance: 23.359319633 # orig value 22.6789511
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: BTT_EBB36: PB13
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: BTT_EBB36: PA3
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 300
gear_ratio: 50:10
pressure_advance: 0.02
min_extrude_temp: 20
#max_extrude_only_distance: 500
max_extrude_cross_section: 5.0

[heater_bed]
heater_pin: PA2
sensor_pin: PF3 # TB
sensor_type: EPCOS 100K B57560G104F
#control: watermark
min_temp: 0
max_temp: 130

[fan]
pin: BTT_EBB36: PA0

[heater_fan hotend_fan]
pin: BTT_EBB36: PA1
heater: extruder
heater_temp: 50.0

[fan_generic Electronics_Fan]
pin: PA8
cycle_time: 0.01

[fan_generic Power_Supply_Fan]
pin: PE5
cycle_time: 0.01

[temperature_sensor BTT_EBB36]
sensor_type: temperature_mcu
sensor_mcu: BTT_EBB36
min_temp: 0
max_temp: 100

## TEMPERATURE SENSOR OVER THE CANBOARD
[temperature_sensor BTT_Octopus]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 100

[temperature_fan BTT_Pi]
pin: BTTPi:gpio211
kick_start_time: 0.8
#shutdown_speed: 0
off_below: 0.1
max_power: 1.0
#fan_speed: 0.6
sensor_type: temperature_host
control: pid
min_temp: 0
max_temp: 85
#max_delta: 5.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.1
max_speed: 1.0
target_temp: 25

#[neopixel my_neopixel]
#pin: PB0

[filament_motion_sensor BTT_SFS]
detection_length: 10.00 ; This can be adjusted to your desired level of sensitivity. 10 is a recomended value to prevent flow dropoff false triggers.
extruder: extruder
switch_pin: ^PG11
pause_on_runout: True ; This can be set to false to debug false positives putting the sensor in "monitor mode". The printer will not pause but it will run the runout_gcode below. 
event_delay: 3.0
pause_delay: 0.5
runout_gcode:
    M117 Runout Detected!

[delayed_gcode DISABLEFILAMENTSENSOR] ; This will disable the SFS 1 second after klipper starts
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=BTT_SFS ENABLE=0 ; Put your filament sensor's name after SENSOR=

[gcode_macro SFS_ENABLE] ; Add this to PRINT_START
description: Enable smart filament sensor
gcode:
    M117 ENABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=BTT_SFS ENABLE=1 ; Put your filament sensor's name after SENSOR=

[gcode_macro SFS_DISABLE] ; Add this to PRINT_END and PRINT_CANCEL
description: Disable smart filament sensor 
gcode:
    M117 DISABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=BTT_SFS ENABLE=0 
    
[menu __main __octoprint]
type: disabled

[exclude_object]

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_2E0010000750535556323420-if00  #usb-Klipper_stm32f446xx_2E0010000750535556323420-if00
restart_method: command

[mcu BTTPi]
serial: /tmp/klipper_host_mcu

# BTT EBB36 on toolhead
[mcu BTT_EBB36]
canbus_uuid: df0e7d760da0

[mcu eddy]
serial: /dev/serial/by-id/usb-Klipper_rp2040_50443403107C8D1C-if00 # This is the serial address of your eddy probe. This can be found by using the terminal of your klipper instance (typically through SSH) and using the command ```ls /dev/serial/by-id``` 
restart_method: command

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu # Sets the type of sensor for Klipper to read
sensor_mcu: eddy # Sets the MCU of the eddy probe tempereature sensor
min_temp: 10 # Sets the minimum tempereature for eddys tempereature sensor to operate
max_temp: 100 # Sets the maximum tempereature for eddys tempereature sensor to operate

[probe_eddy_current btt_eddy]
sensor_type: ldc1612
z_offset: 2.5
#i2c_address:
i2c_mcu: eddy  # This value is good for the Eddy USB but would need to be adjusted for the Eddy Coil according to the MCU you have used.
i2c_bus: i2c0f # This value is good for the Eddy USB but would need to be adjusted for the Eddy Coil according to the I2C bus you have used.
# Measure the offsets below using the method described here: https://www.klipper3d.org/Probe_Calibrate.html#calibrating-probe-x-and-y-offsets
# For a standard Voron stealthburner X carriage mount there should be no need to change the defaults below.
x_offset: 0
y_offset: 21.42

# This section is only relevant for Eddy USB. Comment it out for Eddy Coil.
[temperature_probe btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26
horizontal_move_z: 2

[bed_mesh]
horizontal_move_z: 2
speed: 250
mesh_min: 20, 30  # modify these according to the above guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
mesh_max: 260, 260 # modify these according to the above guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
probe_count: 20, 20
algorithm: bicubic
scan_overshoot: 5  #uncomment this section if you still have room left over on the X axis for some scan overshoot to product smoother movements and more accurate scanning. Uncommenting this should be fine if you are using a standard voron mount.
fade_start: 1
fade_end: 10
fade_target: 0
adaptive_margin: 5

# Uncomment this if you are using Eddy as the probe AND the homing endstop
[safe_z_home]
home_xy_position: 140,118.48 # Choose an X,Y position that is in the center of your bed. For a 300x300 machine that will be 150, 150. Use the same principle to calculate your bed center.
z_hop: 5
z_hop_speed: 25
speed: 200

[exclude_object]

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 12000
max_z_velocity: 5
max_z_accel: 100

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PC4
run_current: 0.800
#interpolate: true
##diag_pin: PG6
stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: PD11
##diag_pin: PG10
run_current: 0.800
#interpolate: true
stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PC6
run_current: 0.650
interpolate: true
#stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: BTT_EBB36: PA15
run_current: 0.800
interpolate: true
stealthchop_threshold: 999999

[autotune_tmc stepper_x]
motor: ldo-42sth48-2004mah
tuning_goal: performance

[autotune_tmc stepper_y]
motor: ldo-42sth48-2004mah
tuning_goal: performance

[autotune_tmc stepper_z]
motor: creality-42-48
tuning_goal: auto 

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg
tuning_goal: auto 

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1

[screws_tilt_adjust]
screw1: 44, 209.5
screw1_name: back left screw
screw2: 44, 17.5
screw2_name: front left screw
screw3: 234, 17.5
screw3_name: front right screw
screw4: 235, 209.5
screw4_name: back right screw
horizontal_move_z: 10
speed: 100
screw_thread: CW-M4

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 35.379
#*# pid_ki = 4.450
#*# pid_kd = 70.317
#*#
#*# [heater_bed]
#*# pid_kp = 63.334
#*# pid_ki = 0.638
#*# pid_kd = 1572.277
#*# control = pid
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 34.966247
#*#
#*# [probe_eddy_current btt_eddy]
#*# calibrate =
#*# 	0.050000:3245727.450,0.090000:3245473.506,0.130000:3245054.849,
#*# 	0.170000:3244668.773,0.210000:3244207.433,0.250000:3243794.898,
#*# 	0.290000:3243352.162,0.330000:3242917.546,0.370000:3242479.500,
#*# 	0.410000:3242040.906,0.450000:3241604.228,0.490000:3241185.592,
#*# 	0.530000:3240798.984,0.570000:3240451.332,0.610000:3240033.308,
#*# 	0.650000:3239688.771,0.690000:3239305.816,0.730000:3238933.830,
#*# 	0.770000:3238536.134,0.810000:3238165.063,0.850000:3237770.238,
#*# 	0.890000:3237420.868,0.930000:3237042.979,0.970000:3236686.075,
#*# 	1.010000:3236272.099,1.050000:3235924.360,1.090000:3235584.896,
#*# 	1.130000:3235298.130,1.170000:3234980.589,1.210000:3234694.850,
#*# 	1.250000:3234356.777,1.290000:3234103.773,1.330000:3233812.366,
#*# 	1.370000:3233554.699,1.410000:3233211.411,1.450000:3232911.649,
#*# 	1.490000:3232605.060,1.530000:3232326.826,1.570000:3232053.350,
#*# 	1.610000:3231781.567,1.650000:3231495.118,1.690000:3231252.421,
#*# 	1.730000:3230981.400,1.770000:3230723.998,1.810000:3230458.846,
#*# 	1.850000:3230223.974,1.890000:3229950.708,1.930000:3229729.874,
#*# 	1.970000:3229490.945,2.010000:3229282.547,2.050000:3229022.199,
#*# 	2.090000:3228778.614,2.130000:3228544.317,2.170000:3228350.333,
#*# 	2.210000:3228125.487,2.250000:3227929.570,2.290000:3227752.313,
#*# 	2.330000:3227536.320,2.370000:3227323.780,2.410000:3227125.627,
#*# 	2.450000:3226899.276,2.490000:3226743.633,2.530000:3226576.760,
#*# 	2.570000:3226383.127,2.610000:3226178.709,2.650000:3225986.347,
#*# 	2.690000:3225798.037,2.730000:3225646.180,2.770000:3225453.545,
#*# 	2.810000:3225305.395,2.850000:3225121.029,2.890000:3224965.280,
#*# 	2.930000:3224767.197,2.970000:3224590.876,3.010000:3224429.220,
#*# 	3.050000:3224260.881,3.090000:3224129.652,3.130000:3223985.949,
#*# 	3.170000:3223828.724,3.210000:3223674.798,3.250000:3223531.449,
#*# 	3.290000:3223381.110,3.330000:3223250.520,3.370000:3223119.712,
#*# 	3.410000:3222940.596,3.450000:3222828.288,3.490000:3222659.374,
#*# 	3.530000:3222549.129,3.570000:3222388.394,3.610000:3222279.461,
#*# 	3.650000:3222145.590,3.690000:3222046.854,3.730000:3221895.037,
#*# 	3.770000:3221784.679,3.810000:3221679.371,3.850000:3221534.366,
#*# 	3.890000:3221415.453,3.930000:3221300.218,3.970000:3221166.279,
#*# 	4.010000:3221065.943,4.050000:3220972.804
#*# reg_drive_current = 15
